img.card-img
  height: 240px

.card:hover > .card-img
  filter: saturate(5)

.card:hover h5
  text-decoration: underline

.card-img-overlay 
  padding: 0

  h5 
    text-align: center
    padding: 11px
    background-color: black
    opacity: 0.8

span.badge
  a
    color: white
    text-decoration: none
  a:hover
    text-decoration: underline


.comfy-blog-post img
  max-width: 100%
  height: auto