<%= image_tag '1-phwoar-web.jpg', class: 'max-h-screen mx-auto my-6' %>

<div class="max-w-screen-lg mx-auto">
  <p class="my-3">When Napoleon mastered warfare with romance and flirting and erotic tension, history swayed in a rather delicious-er direction, with less musketry and more cunnilingus championships.</p>

  <p class="my-3">A century and a half of martial humptacularity later, the fourth French Empire threatens anew to blush cheeks and quiver hips and kersplode gonads. France's funky new Imperatrix, Brigitte Bardot, some kind of retired actress apparently, has somehow fortified France into a terrifying tornado of femme-foam. Earth's free nations shall drown in sexy sexy darkness.</p>

  <p class="my-3">But Britain's answer to French raunch, the Royal Marines Sex Commandos, ain't taking that shit lying down. They're stealthing a sultry strike force into Paris disguised as a particularly frumpy French nun convent, the notorious KNIGHTS OF RAW PHWOAR.</p>

  <p class="my-3">Hundreds of gorgeous, superb, mega-ch0nk Brit raiders thus launch a fab nocturnal flirtfest against Bardot's Parisian pad, the Elysee Palace. They trounce the thousands-strong garrison with hours of rad genital jousting, then take on the Imperatrix herself.</p>

  <p class="my-3">But turns out her seismo-flirts are truly apocalyptic. Turns out she can out-raunch the lot. And things start going horribly wrong ...</p>

  <p class="my-3">How?</p>

  <p class="my-3">Find out!</p>

  <p class="my-3">In Part Two!</p>
  
  <p class="my-3">The SOVIET SLUTS SUPERB: <%= link_to 'mikeyclarke.co.nz/apocalypse/2-soviet-sluts-superb', '/apocalypse/2-soviet-sluts-superb' %></p>

  <p class="my-3">(But read this Part One first)</p>

  <h1 class="font-medium text-3xl sm:text-5xl my-6 text-blue-600 text-center">Grab your copy at</h1>

  <%= render 'purchase_links' %>
</div>
