<%= image_tag '4-praetorian-web.jpg', class: 'max-h-screen mx-auto my-6' %>

<div class="max-w-screen-lg mx-auto">
  <p class="my-3">Continuing from Part Three, the CERVICAL SUPREMACY: <%= link_to 'mikeyclarke.co.nz/apocalypse/3-cervical-supremacy', '/apocalypse/3-cervical-supremacy' %> ...</p>

  <p class="my-3">The story so far: two hundred of Britain's Royal Marines Sex Commandos stealthed into Paris to dissuade France's new Imperatrix Brigitte Bardot from drowning the world in gorgeous French darkness. A magnificent match for their sizzling war-phwoar, she personally spanked their 401 sumptuous buttocks violet like Morse Code bongos.</p>

  <p class="my-3">Our correspondent alone scampered from her trap with a luminous bum like a burning baboon, trounced his police pursuers, then realised his only hope was withdrawing Britainward with his priceless intel cargo. Amid France's invasion force.</p>

  <p class="my-3">Yeah. Actually join the French Army. But! Turns out they're radiant! They're frisky! They're fab! Charlie's in heaven: he's adored spending SOVIET SLUTS SUPERB and CERVICAL SUPREMACY strutting his funky pseudonymic stuff as the fabulous Louisiana hotshot the Seminal Sorcerer. He knows it's total bullshit, but god DAMN this bullshitting is fun.</p>

  <p class="my-3">Half of France thinks he's the cow's moo. Affronted local flirt-champs battle for the right to duel him. Marshals invite this Seminal Sorceror to torture captured Sex Commandos. And the meteoric Alsatian prodigy “Sweetling” Yasmine attempts to seduce, duel, marry, enslave, fingerblast, and spoon him, all at once.</p>

  <p class="my-3">Oh sure, subsuming and digesting this dazzling foreign volcano will surely skyrocket Yasmine to Greatness. But god DAMN he's dreamy. If she doesn't melt him he'll melt her first, without trying or even knowing. And she knows he'll make her love it. She knows liquefying around his presence will feel ever so gooey and pliant. She dreads it and she craves it. Yasmine simply must pulverise him before she just can't.</p>

  <p class="my-3">And Paris's furious cops have reacquired Charlie at last. They'll UNMASK him. His heartbroken ex-chums will surely flay him alive.</p>

  <p class="my-3">Now what? Duh. Plan B. B for Bullshit. Paris's cops will puncture Charlie's fabulous celeb glamour anyhoo … so why not first squander it on his terms?</p>

  <p class="my-3">Why not perform a thrilling nocturnal rampage across France, bullshitting the entire way? Bullshit free his nearby mates; bullshit a jolly matey return to Paris; bullshit free not only the entire captured Sex Commando strike force, but every political prisoner and captured mercenary in Paris? Why not, eh?</p>

  <p class="my-3">Bullshitting is what a Sex Commando does best. That and humping I suppose. But mainly bullshitting.</p>

  <p class="my-3">And it'll only mean shattering the trust and breaking the hearts of his paramil paramours.</p>

  <p class="my-3">Will the Sexyverse's last hope perish forever in the heart of Darkest France? Or will Charlie's desperate matey dice-roll hit the Bullshit Jackpot?</P>

  <p class="my-3">Find out!</p>
  
  <p class="my-3">In Part Five!</p>
  
  <p class="my-3">The CALIPHATE OF THE BULLSHIT MUSLIMS: [link coming soon]</p>

  <p class="my-3">(But read this Part Four first)</p>

  <h1 class="font-medium text-3xl sm:text-5xl my-6 text-blue-600 text-center">Grab your copy at</h1>

  <%= render 'purchase_links' %>
</div>
