<%= image_tag 'supremacy-cover.jpg', class: 'max-h-screen mx-auto my-6' %>

<p class="my-3">Continuing from Part Two, the SOVIET SLUTS SUPERB: <%= link_to 'mikeyclarke.co.nz/apocalypse/2-soviet-sluts-superb', '/apocalypse/2-soviet-sluts-superb' %> ...</p>

<p class="my-3">Ever enjoyed flirting so magnificent it whisks your mind, heart, soul, and nethers into gooey puddles of blissy-bliss-bliss?</p>

<p class="my-3">Ever hungered for pilgrimage to an entire Empire designed around little else?</p>

<p class="my-3">Yeah? Be careful what you wish for!</p>

<p class="my-3">The Sexyverse French Empire's glorious new seismoflirt hierarchy is resculpting civilisation. Anyone who's anyone is going nuts for it. Radiant rookie tongue-twirlers fuel their social and martial ascendance by slurping asunder their neighbours' 'nads, who in turn become vacuumed into heavenly aural oblivion by oral athletes yet mightier, up and up to lustrous Imperial infinity.</p>

<p class="my-3">Just imagine the Mongol Hordes 96ing likewise. Go on. Picture it. They'd conquer Andromeda and you know it. France has never been mightier. A sweat-slick tornado of rad Imperial oomph throbs across Europe. France consumes all. France devours all. You? You're nothing. A billion bombastic Frogs will hump your screws loose and discard the husk.</p>

<p class="my-3">Our Royal Marines Sex Commando correspondent feels like he's died and gone to heaven.</p>

<p class="my-3">Yet Charlie gr0ks he's moonwalking across France far too friskily. Attention accretes. Thumbscrews turn. Vices clamp. Beautiful gangs of beautiful gangsters spurt penisly from every alley. Flirting with every ladybro Rambo in sight produces Rivals and Frenemies and Jilted Waifus galore, athirst for irresistible Sex Commando cock, France's finest socio-sexie rocket fuel.</p>

<p class="my-3">The dazzling Alsatian wonder-grrl Yasmine "Sweetling" Gautreaux sweeps aside the lot. She and Charlie have already spent SOVIET SLUTS SUPERB becoming ever so chummy. There is no rival they cannot together crush asunder.</p>

<p class="my-3">Yasmine schemes. Yasmine plots. If she could somehow liquefy and subsume this dreamy foreign volcano, then there is no Prussian fortress she could not cast down in ruin, no rival she could not trounce.</p>

<p class="my-3">Trounce perhaps the Imperatrix? Can't a gal dream? Yasmine surely tightens her webs against Charlie, mapping his psyche, caressing his pain points, cloaking her smiling jaws of silken goddamn steel.</p>

<p class="my-3">Charlie's vigilance can only crumble further as his captured Sex Commando chums are not only paraded around France, but their handlers invite Charlie, this alleged foreign Louisiana Seminal Sorcerer, to publicly torture them for intel but mainly for lolz.</p>

<p class="my-3">And Paris's police have FOUND HIM.</p>

<p class="my-3">Torment within and without! How much hurt can this tank take, man?</p>

<p class="my-3">Find out! In Part Four! The PRAETORIAN PROSTITUTES [book coming soon!]</p>

<h1 class="font-medium text-5xl my-6 text-blue-600 text-center">Download it free at</h1>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 mb-4">
  (purchase links imminent)
</div>
