.modal.fade#irritate_modal{ tabindex: -1, aria: { labelledby: 'irritate_modal_label', hidden: true }, data: { bs: { backdrop: 'static' } } }
  .modal-dialog
    .modal-content
      .modal-header
        = image_tag 'bbc-globe.jpg'
        %h5.modal-title.position-absolute.text-white.text-center#irritate_modal_label{ style: 'width: calc(100% - 2rem);' }
          WE INTERRUPT THIS BLOG
      .modal-body
        = image_tag 'idle-wink-nudge-cropped.jpg'
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { bs: { dismiss: 'modal' } } }
          To annoy you and make things generally irritating
