<div id="notifications" class="z-20 fixed top-0 left-0 m-4 flex flex-col gap-4 w-[calc(100%-2rem)] max-w-md">
  <%#= render NotificationComponent.new(type: 'success', html_content: 'placeholder success 1 placeholder success 1 placeholder success 1 placeholder success 1 placeholder success 1 placeholder success 1 placeholder success 1 placeholder success 1 placeholder success 1 placeholder success 1 placeholder success 1 placeholder success 1') %>
  <%#= render NotificationComponent.new(type: 'info', html_content: 'placeholder info 2a') %>
  <%#= render NotificationComponent.new(type: 'error', html_content: 'placeholder error 2') %>
  <%#= render NotificationComponent.new(type: 'success', html_content: 'placeholder success 3') %>
  <%#= render NotificationComponent.new(type: 'error', html_content: 'placeholder error 4') %>
  <%#= render NotificationComponent.new(
        type: 'info',
        html_content: "
          <img height='64' width='64' src='https://picsum.photos/64/64' class='float-left mr-2'> 
          A customer in MARYLAND just purchased a WEED WHACKER. Probably. Who knows. People buy weed whackers, don't they?", 
        showtime: 8000) %>
</div>
